* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
}


header {
    background-color: rgb(8, 40, 59);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
    background-color: rgb(227, 227, 227);
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section:nth-child(even) {
    background-color: rgb(227, 227, 227);
}

.content {
    max-width: 800px;
}

img {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background-color: rgb(8, 40, 59);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
